@import url('https://fonts.googleapis.com/css2?family=Exile&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.product-card {
    width: 250px;
    padding: 16px;
    background: #fef9f6;
    border-radius: 12px;
    text-align: center;
    position: relative;
    margin: 1rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.product-image {
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
    margin-bottom: 12px;
}

.add-to-cart-btn {
    background: white;
    border: 1px solid gray;
    color: gray;
    gap: 4px;
    font-size: 16px;
    padding: 8px 16px;
    font-weight: normal;
    border-radius: 24px;
    margin-bottom: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.add-to-cart-btn:hover {
    background: #e87100;
    color: white;
}

.product-meta {
    color: #3d3d3d;
}

.product-category {
    font-size: 16px;
    color: #888;
    text-align: left;
}

.product-name {
    font-size: 20px;
    margin-top: 4px;
    text-align: left;
}

.product-price {
    font-size: 16px;
    color: #d35400;
    font-weight: bold;
    margin-top: 4px;
    text-align: left;
}
